.cart-contents {
    width: 90%
}

.cart-title {
    width: 100%;
    padding: 0;
    text-align: center;
    color: inherit;
    background-color: none !important;
}

.cart-key {
    background-color: var(--eerie-black);
    color: var(--timberwolf);
    padding: 1rem 0rem;
}

@media screen and (max-width: 900px) {
    .cart-contents {
        width: 100%
    }

    .cart-title {
        width: 100%;
        padding: 1rem 0;
        text-align: center;
        color: var(--timberwolf);
        background-color: var(--eerie-black);
    }

    .cart-key {
        display: none !important;
    }
}